<div class="container">
  <label *ngIf="materialsDeck.nWood > 0" [ngClass]="getNgClass('wood')">
    <span class="tooltiptext">wood</span>
    <img [src]="woodImgPath" class="card" alt="wood">
    {{materialsDeck.nWood}}
  </label>
  <label *ngIf="materialsDeck.nBrick > 0" [ngClass]="getNgClass('brick')">
    <span class="tooltiptext">brick</span>
    <img [src]="brickImgPath" class="card" alt="brick">
    {{materialsDeck.nBrick}}
  </label>
  <label *ngIf="materialsDeck.nSheep > 0" [ngClass]="getNgClass('sheep')">
    <span class="tooltiptext">sheep</span>
    <img [src]="sheepImgPath" class="card" alt="sheep">
    {{materialsDeck.nSheep}}
  </label>
  <label *ngIf="materialsDeck.nWheat > 0" [ngClass]="getNgClass('wheat')">
    <span class="tooltiptext">wheat</span>
    <img [src]="wheatImgPath" class="card" alt="wheat">
    {{materialsDeck.nWheat}}
  </label>
  <label *ngIf="materialsDeck.nStone > 0" [ngClass]="getNgClass('stone')">
    <span class="tooltiptext">stone</span>
    <img [src]="stoneImgPath" class="card" alt="stone">
    {{materialsDeck.nStone}}
  </label>
</div>
