<app-table [inputPlayedCards]="playedCards"
           [chosenCards]="chosenCards"
           [nPlayers]="nPlayers"
           [allChosen]="allChosen"
           [allPlayed]="allPlayed"
           [cardDescription]="cardDescription"
           [cardChosen]="cardChosen"
           [isStoryTeller]="isStoryTeller"
           [storyTellerName]="storyTellerName"
           [name]="name"
           [imageSet]="imageSet"
           (chooseCard)="chooseCard.emit($event)"
           (endTurn)="endTurn.emit()">

</app-table>
<app-deck [deck]="deck"
          [gameStarted]="gameStarted"
          [descriptionExists]="cardDescription != null"
          [imageSet]="imageSet"
          [cardPlayed]="cardPlayed"
          [isStoryTeller]="isStoryTeller"
          (describeCard)="describeCard.emit($event)"
          (playCard)="playCard.emit($event)">

</app-deck>
