<app-table [style]="height: 50%, width: 100%"
           [inputPlayedCards]="playedCards"
           [chosenCards]="chosenCards"
           [nPlayers]="nPlayers"
           [allChosen]="allChosen"
           [cardDescription]="cardDescription"
           [cardChosen]="cardChosen"
           [storyTellerName]="storyTellerName"
           [imageSet]="imageSet"
           (chooseCard)="chooseCard.emit($event)">

</app-table>
<app-deck [style]="height: 50%, width: 100%"
          [deck]="deck"
          [descriptionExists]="cardDescription != null"
          [imageSet]="imageSet"
          [cardPlayed]="cardPlayed"
          [isStoryTeller]="isStoryTeller"
          (describeCard)="describeCard.emit($event)"
          (playCard)="playCard.emit($event)">

</app-deck>
