<div [ngClass]="getClass()">
  <p>Logged in as {{name}}</p>
  <app-tic-tac-toe [token]="token"
                   [name]="name"
                   (backToMenu)="deSelectGames()"
                   *ngIf="isSelected('tic-tac-toe')"
                   [style.background-color]="getBackgroundColor()">
  </app-tic-tac-toe>
  <app-sudoku (backToMenu)="deSelectGames()"
              *ngIf="isSelected('SuDoKu')"
              [style.background-color]="getBackgroundColor()">
  </app-sudoku>
  <app-catan [token]="token"
             [name]="name"
             (backToMenu)="deSelectGames()"
             *ngIf="isSelected('CATAN')"
             [style.background-color]="getBackgroundColor()">
  </app-catan>
  <app-dixit [token]="token"
             [name]="name"
             (backToMenu)="deSelectGames()"
             *ngIf="isSelected('DiXiT')"
             [style.background-color]="getBackgroundColor()">
  </app-dixit>
  <app-the-game [token]="token"
                [name]="name"
                (backToMenu)="deSelectGames()"
                *ngIf="isSelected('the GAME')"
                [style.background-color]="getBackgroundColor()">
  </app-the-game>
  <app-rock-paper-scissors [token]="token"
                           [name]="name"
                           (backToMenu)="deSelectGames()"
                           *ngIf="isSelected('rock-paper-scissors')"
                           [style.background-color]="getBackgroundColor()">
  </app-rock-paper-scissors>

  <ul style="text-align:center" class="data-container" *ngIf="!isAnyGameSelected()">
    Select Game
    <li style="text-align:center" class="data-container">
      <button (click)="selectGame(gameName)" *ngFor="let gameName of gameNames;">
        {{gameName}}
      </button>

    <button (click)="logOut()">
      logout
    </button>
    </li>
  </ul>
</div>
