<p>Logged in as {{name}}</p>
<app-tic-tac-toe [token]="token" [name]="name" (backToMenu)="deSelectGames()" *ngIf="isSelected('tic-tac-toe')">
</app-tic-tac-toe>
<app-sudoku (backToMenu)="deSelectGames()" *ngIf="isSelected('SuDoKu')"> </app-sudoku>
<app-catan [token]="token" [name]="name" (backToMenu)="deSelectGames()" *ngIf="isSelected('CATAN')">
<app-rock-paper-scissors [token]="token" [name]="name" (backToMenu)="deSelectGames()"
                         *ngIf="isSelected('rock-paper-scissors')">

</app-rock-paper-scissors>
<ul style="text-align:center" class="data-container" *ngIf="!isAnyGameSelected()">
  Select Game
  <li style="text-align:center" class="data-container">
    <button (click)="selectGame(gameName)" *ngFor="let gameName of gameNames;">
      {{gameName}}
    </button>

  <button (click)="logOut()">
    logout
  </button>
  </li>
</ul>
