.data-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: center;
  width: 80%
}

.vaso-container {
  background-image: url(https://64.media.tumblr.com/666c54a8aed0b9cd91a96a726fd4e677/tumblr_py6q24R4p91sjpam3o1_400.gifv);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  color: white;
  height: 97vh;
}

.rosaria-container {
  background-image: url("/assets/custom-backgrounds/rosaria.jpeg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  height: 97vh;
}


.game-container {
  position: absolute;
  height: 95vh;
  width: 95vw;
  left: 2vw;
}

.white-container {
  background: white;
}
