<ul style="text-align:center" class="data-container">
  <li style="text-align:center" class="data-container">
    <input type="text" placeholder="username"
           class="small-input"
           [ngClass]="{'failed': nameFailed}"
           #inputName>
    <input type="text" placeholder="confirm username"
           class="small-input"
           [ngClass]="{'failed': nameConfirmFailed}"
           #inputNameConfirm>
    <button (click)="tryRegister(inputName.value, inputNameConfirm.value)">
      register
    </button>
    <button (click)="goToLogin.emit()">
      go to log in
    </button>
  </li>
</ul>
