<label>
  <p>
    <span *ngIf="showResults" [ngClass]="getNameClass()">{{getCardPlayingMessage()}}</span>
  </p>
  <p>
  <img *ngIf="showCard" [src]="getCardPath()"
       (click)="selectCard.emit()"
       (dblclick)="zoomCard.emit()"
       [ngClass]="getClass()" alt="card">
  <img *ngIf="!showCard" [src]="getCardBackPath()" class="image-size" alt="card">
  </p>
    <span *ngIf="showResults">
      <p *ngFor="let name of chosenNames">
        <span>{{getCardChoosingMessage(name)}}</span>
      </p>
    </span>
</label>
