<div>
  <p>select materials</p>
  <div class="container">
    <img *ngFor="let material of getMaterials()"
         [src]="imgPaths[material]"
         [ngClass]="getNgClass1(material)"
         alt="{{material}}"
         (click)="updateResource1(material)">
  </div>
  <div class="container">
    <img *ngFor="let material of getMaterials()"
         [src]="imgPaths[material]"
         [ngClass]="getNgClass2(material)"
         alt="{{material}}"
         (click)="updateResource2(material)">
  </div>
  <button (click)="submit()">get resources</button>
  <button (click)="goBack()">back</button>
</div>

