.card {
  width: 15pt;
  height: 30pt;
}

.selected-card {
  border-color: black;
  border-style: solid;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

