<div *ngIf="!(this.playingKnight || this.playingMonopoly || this.playingResources || this.playingRoads)"
     class="container">
  <label *ngIf="developmentDeck.nKnight > 0" class="card-label tooltip">
    <span class="tooltiptext tooltip-text-padding">knight</span>
    <img [src]="knightImgPath" class="card" alt="knight" (click)="selectKnight()">
    {{developmentDeck.nKnight}}
  </label>
  <label *ngIf="developmentDeck.nMonopoly > 0" class="card-label tooltip">
    <span class="tooltiptext tooltip-text-padding">monopoly</span>
    <img [src]="monopolyImgPath" class="card" alt="monopoly" (click)="selectMonopoly()">
    {{developmentDeck.nMonopoly}}
  </label>
  <label *ngIf="developmentDeck.nResources > 0" class="card-label tooltip">
    <span class="tooltiptext tooltip-text-padding">years of plenty</span>
    <img [src]="resourcesImgPath" class="card" alt="resources" (click)="selectResources()">
    {{developmentDeck.nResources}}
  </label>
  <label *ngIf="developmentDeck.nRoads > 0" class="card-label tooltip">
    <span class="tooltiptext tooltip-text-padding">road building</span>
    <img [src]="roadsImgPath" class="card" alt="roads" (click)="selectRoads()">
    {{developmentDeck.nRoads}}
  </label>
  <label *ngIf="developmentDeck.nPoint > 0" class="card-label tooltip">
    <span class="tooltiptext tooltip-text-padding">victory point</span>
    <img [src]="pointImgPath" class="card" alt="point">
    {{developmentDeck.nPoint}}
  </label>
</div>
<app-knight-playing *ngIf="this.playingKnight"
                    (back)="resetIsPlayingCard()"
                    (makePlay)="playKnight.emit($event)">

</app-knight-playing>
<app-monopoly-playing *ngIf="this.playingMonopoly"
                      (back)="resetIsPlayingCard()"
                      (makePlay)="playMonopoly.emit($event)">

</app-monopoly-playing>
<app-resources-playing *ngIf="this.playingResources"
                       (back)="resetIsPlayingCard()"
                       (makePlay)="playResources.emit($event)">

</app-resources-playing>
<app-roads-playing *ngIf="this.playingRoads"
                   (back)="resetIsPlayingCard()"
                   (makePlay)="playRoads.emit($event)">

</app-roads-playing>
