.container {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

.card-label {
  width: 15pt;
  height: 30pt;
}

.card {
  width: 95%;
  height: 80%;
}
