<label class="pile-container">
  <br *ngIf="blockingPlayerNameList.length > 0">
  <span *ngIf="blockingPlayerNameList.length > 0" class="reserve-listing">
    Blocked by {{getBlockingNameString()}}
  </span>

  <br *ngIf="slowingDownPlayerNameList.length > 0">
  <span *ngIf="slowingDownPlayerNameList.length > 0" class="reserve-listing">
    Slowed down by {{getSlowingDownNameString()}}
  </span>

  <br>
  <span>{{getDirection()}}</span>

  <br>
  <app-card [cardNumber]="topCard"
            [selected]="false"
            [onFire]="onFire">
  </app-card>
  <br>

  <br *ngIf="isSelectedCardPlayable()">
  <button *ngIf="isSelectedCardPlayable()" (click)="playCard.emit()">Play card</button>

  <br *ngIf="canBlockPile">
  <button *ngIf="canBlockPile" (click)="blockPile.emit()">Block pile</button>

  <br *ngIf="canSlowDownPile">
  <button *ngIf="canSlowDownPile" (click)="slowDownPile.emit()">Slow down pile</button>

</label>
