<label>
  <p *ngIf="blockingPlayerNameList.length > 0">
    <span>
      Blocked by {{getBlockingNameString()}}
    </span>
  </p>
  <p *ngIf="slowingDownPlayerNameList.length > 0">
    <span>
      Slowed down by {{getSlowingDownNameString()}}
    </span>
  </p>
  <p>
    <span>{{getDirection()}}</span>
  </p>
  <p>
    <app-card [cardNumber]="topCard"
              [selected]="false"
              [onFire]="onFire">

    </app-card>
  </p>
  <p *ngIf="canPlayCard">
    <button (click)="playCard.emit()">Play card</button>
  </p>
  <p *ngIf="canBlockPile">
    <button (click)="blockPile.emit()">Block pile</button>
  </p>
  <p *ngIf="canSlowDownPile">
    <button (click)="slowDownPile.emit()">Slow down pile</button>
  </p>
</label>
