<p *ngIf="description == null">Game session has expired</p>
<div *ngIf="description != null && isPlaying" class="ver-container">
  <div class="first-row-container">
    <app-players-display [players]="description.players"
                         [knightPlayer]="description.knightPlayer"
                         [longRoadPlayer]="description.longRoadPlayer"
                         [currentPlayer]="description.currentPlayer"
                         style="width: 10%">

    </app-players-display>
    <app-board-display (clickLand)="onClickLand($event)"
                       (clickSegment)="onClickSegment($event)"
                       (clickIntersection)="onClickIntersection($event)"
                       [description]="description"
                       style="width: 80%; height: 80%">

    </app-board-display>
    <app-options-display (backToMenu)="onBackToMenu()"
                         [gameId]="description.id"
                         [materialsDeck]="description.materialsDeck"
                         [developmentDeck]="description.developmentDeck"
                         style="width: 10%">

    </app-options-display>
  </div>

  <div *ngIf="description.discardCards && playerMaterials.nMaterials > 7" class="second-row-container">
    <app-discard-cards-display [materialsDeck]="playerMaterials"
                               (discardCards)="discardCards($event)">
    </app-discard-cards-display>
  </div>

  <p *ngIf="!(description.discardCards && playerMaterials.nMaterials > 7)" class="second-row-container">
    <app-materials-deck [materialsDeck]="playerMaterials" style="height: 100%">

    </app-materials-deck>
    <app-commerce [materialsDeck]="playerMaterials"
                  [isCurrentPlayer]="description.players[description.currentPlayer].name == name"
                  [allPlayers]="description.players"
                  [offer]="description.offer"
                  [name]="name"
                  (makeOffer)="makeOffer($event)"
                  (commerceWithBank)="commerceWithBank($event)"
                  (acceptOffer)="acceptOffer()"
                  (rejectOffer)="rejectOffer()"
                  (withdrawOffer)="withdrawOffer()"
                  style="height: 100%; width: 30%">

    </app-commerce>
    <app-buy [materialsDeck]="playerMaterials"
             [developmentDeck]="description.developmentDeck"
             [buildingElement]="buildingElement"
             (updateBuildingElement)="updateBuildingElement($event)"
             (buyDevelopment)="buyDevelopment()"
             style="height: 100%">

    </app-buy>
    <app-player-development-deck [developmentDeck]="playerDevelopment"
                                 (playKnight)="onPlayKnight($event)"
                                 (playMonopoly)="onPlayMonopoly($event)"
                                 (playResources)="onPlayResources($event)"
                                 (playRoads)="onPlayRoads($event)"
                                 style="height: 100%">

    </app-player-development-deck>
    <button *ngIf="description.players[description.currentPlayer].name == name" (click)="endTurn()">End Turn</button>
    <button  class="dice" (click)="throwDice()"> {{description.lastDiceResult}} </button>
  </p>
</div>

<app-game-resolution-display *ngIf="description != null && !isPlaying"
                             [gameDescription]="description"
                             [gameResolution]="gameResolution"
                             (backToMenu)="onBackToMenu()">

</app-game-resolution-display>
