<p *ngIf="description == null">Game session has expired</p>
<div *ngIf="description != null && isPlaying" class="container">
    <app-players-display [players]="description.players"
                       [currentPlayer]="description.currentPlayer">

    </app-players-display>
    <app-board-display (makePlay)="makePlay($event)"
                       [token]="token"
                       [description]="description">

    </app-board-display>
    <app-options-display (backToMenu)="onBackToMenu()"></app-options-display>
</div>
<app-game-resolution-display *ngIf="description != null && !isPlaying"
                             [gameDescription]="description"
                             [gameResolution]="gameResolution"
                             (backToMenu)="onBackToMenu()">

</app-game-resolution-display>
