<table class="container">
  <tr>
    <th>
      <label for="npc">Bots</label>
    </th>
    <th>
      <input #npc id="npc" type="number" value="0" [ngClass]="getNPCClass()">
    </th>
  </tr>
  <tr>
    <th>
      <label for="pc">Players</label>
    </th>
    <th>
      <input #pc id="pc" type="number" value="6" [ngClass]="getPCClass()">
    </th>
  </tr>
  <tr>
    <th>
      <label for="totalPoints">Total points</label>
    </th>
    <th>
      <input #totalPoints id="totalPoints" type="number" value="30" [ngClass]="getTotalPointsClass()">
    </th>
  </tr>
  <tr>
    <th>
      <label for="imageSet">Image set</label>
    </th>
    <th>
      <select #imageSet id="imageSet">
        <option *ngFor="let mode of imageSetList" [value]="mode">{{mode}}</option>
      </select>
    </th>
  </tr>
  <tr>
    <th>
      <button
        (click)="tryCreateGame(npc.valueAsNumber, pc.valueAsNumber, totalPoints.valueAsNumber,
                               imageSetList[imageSet.selectedIndex])">
        Create game
      </button>
    </th>
    <th>
      <button (click)="back.emit()">Close</button>
    </th>
  </tr>
</table>
