<div class="ver-container">
  <p class="hor-container">Insert SuDoKu values</p>

  <app-board class="hor-container"

             [blockCols]="blockCols"
             [blockRows]="blockRows"
             [table]="table"

             (update)="updateTable($event)">

  </app-board>

  <app-options class="hor-container"

               (clearTable)="clearTable()"
               (hintSuDoKu)="hintSuDoKu()"
               (solveSuDoKu)="solveSuDoKu()"
               (createSuDoKu)="createSuDoKu()"
               (backToMenu)="backToMenu.emit()"
               (update)="updateBlockShape($event)"

               [blockCols]="blockCols"
               [blockRows]="blockRows">

  </app-options>

</div>
