<p>Active Games</p>
<table>
  <tr>
    <th>gameId</th>
    <th>nPlayers</th>
    <th>nBots</th>
    <th>currentPlayers</th>
    <th>rows</th>
    <th>cols</th>
    <th>gravity</th>
  </tr>
  <tr *ngFor="let activeGame of activeGames" (click)="tryEnterGame(activeGame)" class="active-games-row">
    <th>{{activeGame.gameId}}</th>
    <th>{{activeGame.nPlayers}}</th>
    <th>{{activeGame.nBots}}</th>
    <th>{{activeGame.currentPlayers}}</th>
    <th>{{activeGame.rows}}</th>
    <th>{{activeGame.cols}}</th>
    <th>{{activeGame.gravity}}</th>
  </tr>
</table>
