<p *ngIf="description == null">Game session has expired</p>
<div *ngIf="description != null && isPlaying" class="container">
  <app-players-display [playerList]="description.playerList"
                       [currentPlayerName]="getCurrentPlayerName()"
                       [gameStarted]="gameStarted()"
                       style="width: 10vw">

  </app-players-display>
  <app-board-display (playCard)="playCard($event)"
                     (blockPile)="blockPile($event)"
                     (slowDownPile)="slowDownPile($event)"
                     (chooseStartingPlayer)="chooseStartingPlayer($event)"
                     (endTurn)="onTurnEnd()"
                     [gameStarted]="gameStarted()"
                     [piles]="getPiles()"
                     [blockedPiles]="getBlockedPiles()"
                     [slowedDownPiles]="getSlowedDownPiles()"
                     [deck]="getDeck()"
                     [onFire]="description.onFire"
                     [minToPlayCards]="description.getMinToPlayCards()"
                     [isCurrentPlayer]="name == getCurrentPlayerName()"
                     [nRemainingCards]="getNRemainingCards()"
                     [nInitialCards]="getCurrentPlayerInitialCards()"
                     [turn]="description.turn"
                     [name]="name"
                     style="width: 60vw; height: 80vh">

  </app-board-display>
  <app-options-display (backToMenu)="onBackToMenu()"
                       [gameId]="description.id"
                       [instructions]="''"
                       [link]="link"
                       style="width: 10vw">

  </app-options-display>
</div>
<app-game-resolution-display *ngIf="description != null && !isPlaying"
                             [gameResolution]="gameResolution"
                             (backToMenu)="onBackToMenu()">

</app-game-resolution-display>
