.container {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: center;
}

.logo {
  height: 30pt;
  width: 30pt;
}

.selected {
  border: black;
}
